.navbar {
  background: linear-gradient(90deg, #000000, #173221, #20623c);
  /* backdrop-filter: blur(10px); */
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
  font-family: 'Poppins', sans-serif; 
  color: #ffffff;

  position: fixed;       
  top: 0;                
  left: 0;               
  z-index: 1000;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
  width: 96%;
}


.navbar-brand {
  font-size: 1.8rem;
  font-weight: 700;
  color: #19cf78; /* highlight green */
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: color 0.3s ease;
}

.navbar-brand a {
	color: #fff;
  transition: all 0.3s ease;
}

.navbar-brand a:hover {
  filter: invert(40%) sepia(6%) saturate(290%) hue-rotate(110deg) brightness(80%) contrast(88%);
	color: #8f9c94;
}

.navbar-brand:hover {
  color: #229759; /* darker green hover */
}

.Nav-link {
	color: #fff;
	font-size: 25px;
  font-weight: 500;
  padding: 2px 20px;
	text-decoration: none;
  transition: all 0.3s ease;
}

.Nav-link:hover {
	color: #8f9c94;
  text-decoration-line: none;
}

.navbar-links {
  display: flex;
  gap: 2rem;
}

.nav-link {
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  transition: all 0.3s ease;
  color: #ffffff;
  text-decoration: none;
}

.nav-link:hover {
  background-color: #229759; /* medium green hover */
  color: #ffffff;
}

.nav-link.active {
  background-color: #19cf78; /* active state */
  color: #000000;
  font-weight: 600;
}

.logo {
	width: 50px;
  height: auto;
  display: block;
	margin-bottom: -20px;
}

.navbar-toggle{
  display: none;
}


@media (max-width: 880px) {
  .navbar-links {
    gap: 1rem;
  }

  .navbar .navbar-links{
    flex-direction: column;
    align-items: flex-start;
    gap: 1.7rem !important;
    position: absolute;
    height: 110vh;
    width: 200px;
    top: 0;
    right: 0;
    padding: 5rem 1.5rem;
    backdrop-filter: blur(10px);
    margin-top: 20px;
  }
  .Nav-link{
    font-size: 20px;
  }
  .navbar-toggle {
	display: block;
	position: absolute;
	top: 30px;
	right: 90px;
	z-index: 999;
	background: transparent;
  border: 1px;
  border-radius: 50px;
  padding: 10px 15px;
  transition: all 0.3s ease;
 }
 .navbar-toggle:hover{
  background-color: #173221;
 }
 .navbar-toggle span {
	font-size: 25px;
 }
 .navbar-menu{
  display: none;
 }

}


